<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj2.leave.mapper.PermissionDefinedMapper">
  <resultMap id="BaseResultMap" type="com.yj2.leave.entity.Permission">

    <id column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <!--根据角色Ids，查询对应菜单Ids-->
  <select id="queryMenuIdsByRoleIds" parameterType="com.yj2.leave.entity.UserExample" resultType="java.lang.String">
    SELECT id,account,`name`,department_id FROM user
    WHERE account=#{account,jdbcType=VARCHAR}
  </select>
</mapper>